name: Build dist files

on:
  workflow_dispatch:
  push:
    branches:
      - master
  workflow_run:
    workflows: ["Build data files"]
    types:
      - completed

permissions:
  contents: write
  id-token: write
  pages: write

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:    
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: 'npm'
        
    - name: Install dependencies
      run: npm ci

    - name: Build dist
      run: npm run build-dist

    - name: Build site
      run: npm run build

    - name: Upload artifacts
      uses: actions/upload-pages-artifact@v3
      with:
        path: build/

    - name: Deploy to GitHub Pages
      if: ${{ github.ref == 'refs/heads/master' }}
      uses: actions/deploy-pages@v4